# real credentials - never commit
credentials.cfg
src/core/tgcredentials.h
session.dat
*.session

# build output
build/
build-*/
*.o
*.obj
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*.sis
*.sisx
*_installer.sis
*_template.pkg
*_installer.pkg
*_stub.pkg
*_reg.rss
*.rss
*.loc
*.mif
*.mmp
bld.inf
*.pri.PREV
tmp/
release/
debug/
.make.cache
Symbigram_installer_unsigned.sis
Symbigram_unsigned.sis
build.log
shots/
